<%- include('../partials/head.ejs', {title:"Home"}) %>

<div class="container">

  <div class="card card-body">
    <h1 class="text-center">Home</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veniam tempora dignissimos impedit, excepturi quisquam similique voluptatibus vitae voluptas fugiat adipisci aut dolorum incidunt voluptatem culpa nobis ipsam, nostrum voluptates et! Ullam fuga odit repudiandae molestias, et non nisi ipsam iusto reiciendis quo architecto doloribus id atque debitis consectetur corrupti officiis voluptates laboriosam eaque dolorum vel modi excepturi! Tempora numquam eligendi impedit expedita officia, nisi a fugit eos earum, sapiente optio odit harum corrupti maxime itaque sequi, quos nemo veritatis natus dolores voluptates perspiciatis architecto alias! Ipsa rem in quibusdam? Recusandae dolorum et voluptates asperiores sit perferendis cupiditate atque veniam!
    </p>

  </div>

</div>




<%- include('../partials/footer.ejs')%>