*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{
    background:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#000;
}

footer{
    text-align: center;
    background:#222222;
    color:#ffffff;
    margin-top:30px;
}

.my-container{
       min-height: 700px;
}